---
import FormattedDate from "./FormattedDate.astro";
import Link from "./Link.astro";
import Tag from "./Tag.astro";

const { post } = Astro.props;
const { title, date, summary, tags, sticky } = post.data;
---

<li class="py-5">
  <article class="flex flex-col space-y-2 xl:space-y-0">
    <dl>
      <dt class="sr-only">Published on</dt>
      <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
        <FormattedDate date={date} />
      </dd>
    </dl>
    <div class="space-y-3">
      <div>
        <h2 class="text-2xl font-bold leading-8 tracking-tight">
          <Link href={`/blog/${post.id}`} class="text-gray-900 dark:text-gray-100">
            {sticky && <span class="text-yellow-500 mr-2" title="置顶">📌</span>}
            {title}
          </Link>
        </h2>
        <div class="flex flex-wrap mt-2 mb-2">
          {tags && tags.map((tag) => <Tag id={tag} />)}
        </div>
      </div>
      <div class="prose max-w-none text-gray-500 dark:text-gray-400">
        {summary}
      </div>
    </div>
  </article>
</li>
