---
import { type CollectionEntry, getEntries, render } from "astro:content";
import { Image } from "astro:assets";
import RootLayout from "./RootLayout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import PageTitle from "../components/PageTitle.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { POST_METADATA } from "../consts";
import PostCover from "../components/PostCover.astro";
// 核心改动1：导入 SolidJS 组件，不带后缀
import ScrollTopAndComments from "../components/ScrollTopAndComments";
import Comments from "../components/Comments.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const authors = await getEntries(post.data.authors);
const { Content } = await render(post);

const articleOgDetails = {
  publishedTime: post.data.date,
  modifiedTime: post.data.lastmod,
  authors: authors.map(({ data }) => data.name),
  cover: post.data.cover,
};
---

<RootLayout title={post.data.title} description={post.data.summary} article={articleOgDetails}>
  <SectionContainer>
    {/* 核心改动2：添加 client:load 指令，让 SolidJS 组件在客户端激活 */}
    <ScrollTopAndComments client:load />
    
    <article>
      <div class="xl:divide-y xl:divide-gray-200 xl:dark:divide-gray-700">
        <header class="pt-6 xl:pb-6">
          <div class="space-y-1 text-center pb-4">
            <dl>
              <div>
                <dt class="sr-only">发布日期</dt>
                <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                  <FormattedDate date={post.data.date} />
                </dd>
              </div>
            </dl>
            <PageTitle>{post.data.title}</PageTitle>
          </div>
          {post.data.cover && POST_METADATA.showCover && (
            <div class="space-y-1 pb-10 text-center">
              <PostCover {post} />
            </div>
          )}
        </header>
        
        <div class="grid-rows-[auto_1fr] divide-y divide-gray-200 pb-8 dark:divide-gray-700 xl:grid xl:grid-cols-4 xl:gap-x-6">
          <dl class="pb-10 pt-6 xl:border-b xl:border-gray-200 xl:pt-11 xl:dark:border-gray-700">
            <dt class="sr-only">作者</dt>
            <dd>
              <ul class="flex justify-center items-center gap-4 xl:block xl:space-y-8">
                {authors.map((author) => (
                  <li class="flex items-center space-x-2">
                    {author.data.avatar && (
                      <Image src={author.data.avatar} width={38} height={38} alt="avatar" class="h-10 w-10 rounded-full" />
                    )}
                    <dl class="whitespace-nowrap text-sm font-medium">
                      <dd class="text-gray-900 dark:text-gray-100">{author.data.name}</dd>
                    </dl>
                  </li>
                ))}
              </ul>
            </dd>
          </dl>
          
          <div class="xl:col-span-3 xl:row-span-2 xl:pb-0">
            <div class="prose max-w-none pb-8 pt-10 dark:prose-invert">
               <Content />
            </div>
            
            <div class="pb-6 pt-6 text-center text-gray-700 dark:text-gray-300" id="comment">
              <Comments {post} />
            </div>
          </div>
        </div>
      </div>
    </article>
  </SectionContainer>
</RootLayout>
